.card {
    padding: 12px;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    height:490px;

    .header-image {
        background-size: cover;
    }

    .back-btn {
        margin:10px;
    }
}
