<div class="container d-flex justify-content-center">
    <mat-card class="card">
        <mat-card-header>
          <img
            mat-card-avatar
            class="header-image"
            src="{{ speaker?.picture?.large }}"
          />
          <mat-card-title>{{speaker?.name?.title}}. {{ speaker?.name?.first }} {{speaker?.name?.last}}</mat-card-title>
          <mat-card-subtitle>{{ speaker?.email }}</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="editSpeakerForm">
          <div class="form-group">
            <label class="form-label" for="cell">Cell</label>
            <input type="text"
              formControlName="cell"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="phone">Phone</label>
            <input type="text"
              formControlName="phone"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="state">State</label>
            <input type="text"
              formControlName="state"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="country">Country</label>
            <input type="text"
              formControlName="country"
              class="form-control" 
            />
          </div>
          <div class="form-group row">
            <button mat-raised-button class="back-btn"
            color="primary" (click)="redirectToSpeakersPage()">
              Back
            </button>
          </div>
        </form>
    </mat-card>
</div> 
  